
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游明朝";
  color: #28221C;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(234, 225, 217, 0.8);
  /* ------------------------
  クラスactiveがつくとハンバーガーアイコンが「×」になる
  ------------------------ */
}

@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    align-content: center;
  }
}
header .header-logo {
  padding-left: 50px;
  font-size: 16px;
}

header .menu-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  /* 位置を固定 */
  top: 5px;
  right: 5px;
  cursor: pointer;
  /* カーソルを指差しマークにする */
  z-index: 999;
  /* メニューボタンの重なり順を一番上にする */
}

@media screen and (min-width: 768px) {
  header .menu-btn {
    opacity: 0;
  }
}
header .menu-line {
  /* 三本線の真ん中 */
  background-color: #28221C;
  display: block;
  height: 2px;
  width: 30px;
  position: relative;
  /* 0.3秒かけて変化 */
}

header .menu-line::before,
header .menu-line::after {
  content: "";
  background-color: #28221C;
  display: block;
  height: 2px;
  width: 30px;
  position: relative;
  /* 0.3秒かけて変化 */
}

header .menu-line::before {
  /* 三本線の上 */
  top: -10px;
}

header .menu-line::after {
  /* 三本線の下 */
  top: 10px;
}

header .menu-line.active {
  /* 三本線の真ん中にクラスactiveが付いたとき */
  background-color: transparent;
}

header .menu-line.active::before {
  /* 三本線の上にクラスactiveが付いたとき */
  transform: rotate(45deg);
  top: 0;
}

header .menu-line.active::after {
  /* 三本線の下にクラスactiveが付いたとき */
  transform: rotate(-45deg);
  top: -1px;
  right: 1px;
}

header .overlay {
  background-color: #eae1d9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s;
}

header .overlay.show {
  opacity: 1;
  transform: none;
}

@media screen and (min-width: 768px) {
  header .navigation ul {
    position: fixed;
  }
}
header .navigation ul li {
  font-size: 18px;
  line-height: 100px;
  text-align: center;
  list-style: none;
}

header .navigation ul li a:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  header .navigation ul li {
    text-align: left;
    padding-left: 20px;
  }
}
header .row {
  display: none;
}

header .row ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

header .row ul li {
  margin-left: 40px;
}

@media screen and (min-width: 768px) {
  header .row {
    display: inline-block;
  }
}
.main-visual {
  background: url("top.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .main-visual {
    height: 1200px;
  }
}
.main-visual .main-visual__content {
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .main-visual .main-visual__content {
    top: 130px;
  }
}
@media screen and (min-width: 768px) {
  .main-visual .main-visual__content {
    text-align: right;
    margin-right: 180px;
  }
}
.main-visual .main-visual__content h1 {
  margin-bottom: 200px;
  color: black;
}

@media screen and (max-width: 480px) {
  .main-visual .main-visual__content h1 {
    margin-bottom: 120px;
    line-height: 50px;
    font-size: 18px;
  }

  .main-visual .main-visual__content h1 span {
    display: block;
  }
}
.main-visual .main-visual__content p {
  font-weight: bold;
  color: black;
}

.main-visual .about__content {
  background-color: rgba(234, 225, 217, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-visual .about__content p {
  text-align: center;
  border: solid 1px;
  margin: 50px;
  padding: 50px 30px;
  color: black;
}

@media screen and (max-width: 480px) {
  .main-visual .about__content p {
    border: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
    margin: 50px 30px;
  }
}
.container {
  padding: 100px 30px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 100px 150px;
  }
}
h2 {
  border-bottom: solid 1px black;
  padding-bottom: 5px;
  text-align: center;
}

h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.morning-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morning-item dl dt {
  padding-bottom: 20px;
}

.morning-item dl dt .img {
  text-align: center;
}

.morning-item dl dt .img img {
  height: 300px;
  width: auto;
}

.morning-item dl dd {
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 480px) {
  .morning-item dl dt .img img {
    height: 200px;
    width: auto;
  }
}
@media screen and (min-width: 1180px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }
}
.menu-item {
  text-align: center;
}

@media screen and (min-width: 1180px) {
  .menu-item {
    width: 45%;
  }
}
.menu-item dl {
  display: flex;
  flex-wrap: wrap;
}

.menu-item dl dt {
  width: 87%;
  text-align: left;
  border-bottom: dotted 1px #000;
}

.menu-item dl dd {
  width: 13%;
}

.ps {
  display: block;
  font-size: 15px;
  font-weight: normal;
  text-align: right;
  padding-top: 20px;
}

@media screen and (min-width: 1180px) {
  .ps {
    padding-top: 0;
  }
}
.access-area {
  background-color: #eae1d9;
}

.item {
  text-align: center;
}

@media screen and (min-width: 1180px) {
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}
.item p {
  padding: 50px 0 30px 0;
}

@media screen and (min-width: 1180px) {
  .item p {
    padding-right: 50px;
    width: 40%;
  }
}
.item iframe {
  width: 100%;
  max-width: 500px;
  height: 300px;
  filter: grayscale(0.5);
}

.item .contact-form ul {
  list-style: none;
}

.item .contact-form ul li {
  margin-bottom: 30px;
}

.item .contact-form ul li span {
  display: block;
}

.item .contact-form ul li input {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px black;
}

.item .contact-form ul .textarea input {
  height: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px black;
}

@media screen and (max-width: 480px) {
  .item .contact-form ul li input {
    width: 250px;
  }
}
.item .btn {
  /*display: inline-block;
  text-align: center;*/
  cursor: pointer;
  font-size: 17px;
  padding: 20px 45px;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}

.item .btn:hover {
  background-color: rgba(234, 225, 217, 0.8);
}

.top-btn {
  text-align: right;
}

.top-btn button {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  /*border: solid 1px black;*/
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  /*background-color: transparent;*/
  cursor: pointer;
  transition: all 0.3s;
}

.top-btn button:hover {
  background-color: rgba(234, 225, 217, 0.8);
}

.top-btn span {
  display: block;
}

.contact {
  background: url("contact.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1180px) {
  .contact .item.contact-item {
    display: flex;
    align-items: flex-start;
  }

  .item .btn {
    margin-left: 250%;
  }
}
.footer-list {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  padding: 0 40px;
}

@media screen and (max-width: 480px) {
  .footer-list {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1180px) {
  .footer-list {
    padding: 0 200px;
  }
}
.footer-list p {
  padding-top: 30px;
}

.footer-list p img {
  display: inline-block;
  margin-right: 5px;
}

/* アニメーションCSS */
.main-visual__content h1,
.main-visual__content p,
.about__content p,
h2 {
  transform: translateY(10px);
  opacity: 0;
  transition: all 1.5s;
}

.main-visual__content h1 {
  transition-delay: 0.3s;
}

.main-visual__content p {
  transition-delay: 1.3s;
}

.main-visual__content h1.show,
.main-visual__content p.show,
.about__content p.show,
h2.show {
  opacity: 1;
  transform: none;
}

.morning-item,
.menu-item,
.item {
  opacity: 0;
  transition: all 1s;
}

.morning-item.show,
.menu-item.show,
.item.show {
  opacity: 1;
}

